.main {
	width: 640px;
	margin: 20px auto 20px auto;
	font-family: Arial, Helvetica, serif;
	font-size: 11pt;
}

.header {
	font-size: 18pt;
	text-align: center;
	padding: 5px 0 20px 0;
}

.linkdrive {
	float: left;
}

.addform {
	width: 100%;
	margin: 20px auto 10px auto;
	padding: 20px;
	background-color: azure;
	border: solid green 1px;
	border-radius: 10px;
}

.addform .text {
	font-size: small;
}

.addform .label {
	display: inline-block;
	width: 70px;
	padding: 0 10px 0 10px;
	font-size: small;
}

.addform .calendar {
	display: inline-flex;
	width: 350px;
	font-size: small;
}

.addform .column-label {
	padding: 20px 0 5px 1px;
	font-size: small;
}

.addform .select-category {
	display: inline-flex;
	width: 100px;
	margin: 0 5px 0 0;
}

.addform .select-folder {
	display: inline-flex;
	width: 120px;
	margin: 0 5px 0 0;
}

.addform .select-songs {
	display: inline-flex;
	width: 280px;
}

.addform .add-row {
	display: inline-block;
	float: left;
	margin: 10px 0 0 10px;
	font-size: small;
}

.addform .add-button {
	float: right;
	margin: 10px 0 0 0;
}

.addform .preview-button {
	width: 30px;
	height: 30px;
	background: url('../../images/preview.png') no-repeat 15px/15px;
}

.addform .icon {
	display: inline-flex;
}
