.main {
	width: 740px;
	height: calc(100vh - 180px);
	margin: 20px auto 20px auto;
	font-family: Arial, Helvetica, serif;
	font-size: 12pt;
}

.header {
	font-size: 18pt;
	text-align: center;
	padding: 5px 0 20px 0;
}

.addform {
	width: 100%;
	margin: 20px auto 10px auto;
	padding: 20px;
	background-color: azure;
	border: solid green 1px;
	border-radius: 10px;
}

.addform .text {
	font-size: inherit;
	width: 200px;
	padding-left: 2px;
}

.addform .select {
	font-size: inherit;
}

.addform .submit {
	font-size: inherit;
    width: 100px;
    height: 30px;
    border: 1px solid lightgray;
}

.addform .label {
	display: inline-block;
	width: 85px;
	padding: 0 10px 0 10px;
	line-height: 35px;
}

.addform .content {
	display: inline-flex;
	width: 350px;
}

.addform .driveurl {
	float: right;
	margin: 10px 0 0 0;
}

.addform .column-label {
	padding: 20px 0 5px 1px;
}

.addform .select-category {
	display: inline-flex;
	width: 120px;
	margin: 0 5px 0 0;
}

.addform .select-folder {
	display: inline-flex;
	width: 140px;
	margin: 0 5px 0 0;
}

.addform .select-songs {
	display: inline-flex;
	width: 330px;
}

.addform .add-row {
	display: inline-block;
	float: left;
	margin: 15px 0 0 10px;
}

.addform .add-button {
	float: right;
	margin: 10px 0 0 0;
}

.addform .preview-button {
	width: 30px;
	height: 30px;
	background: url('../../images/preview.png') no-repeat 15px/15px;
}

.addform .icon {
	display: inline-flex;
}

.report .delete-button {
	float: right;
	width: 30px;
	height: 20px;
	background: url('../../images/erase.png') no-repeat 15px/15px;
	margin-right: 4px;
}
