.main {
    margin: 20px 0 20px 0;
    width: 100%;
}

.left {
    width: 65%;
    height: 100%;
    float: left;
}

.right {
    width: 34%;
    float: right;
}

iframe {
    border-width: 0;
    width: 100%;
    height: calc(100vh)
}