<!DOCTYPE html>
<html>

<head>
    <title>Lịch Hát Thánh Ca</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-signin-client_id" content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">

    <link rel="stylesheet" href="../../resources/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./schedule.css">

    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/jquery-ui.min.js"></script>
    <script src="../../resources/js/jquery-ui-datepicker-vi.js"></script>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/base64.min.js"></script>
    <script src="../../resources/js/google-api.js"></script>

    <script src="./schedule.js"></script>
    <script src="../../resources/js/http-service.js"></script>
    <script src="../../resources/js/email-service.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>

<body ng-app="scheduleApp" ng-controller="ScheduleCtrl" data-ng-init="init()" class="mainform">

    <div id="main" class="main">

        <div ng-if="!accessToken">
            <div id="gapi-signin"></div>
        </div>

        <div ng-if="accessToken">
            <div class="content">
                <form name="entryForm" ng-submit="create()">
                    <div>
                        <div class="label">Ngày:</div>
                        <div class="calendar">
                            <input type="text" id="datepicker" ng-model="schedule.date" class="text round-border" autocomplete="off" required>
                        </div>
                        <div class="driveurl">
                            <a href="{{driveURL}}" target="_blank">Danh Sách Bài Hát</a>
                        </div>
                    </div>

                    <div style="padding-top: 10px;">
                        <div class="label">&nbsp;</div>
                        <div class="calendar">
                            <select ng-model="schedule.liturgy" class="select">
                                <option></option>
                                <option ng-repeat="liturgy in liturgies" ng-value="liturgy">{{liturgy}}</option>
                            </select>
                        </div>
                        <div class="driveurl">&nbsp;</div>
                    </div>

                    <div>
                        <div class="label">&nbsp;</div>
                        <div class="select-category column-label">Thể Loại</div>
                        <div class="select-folder column-label">Tập Nhạc</div>
                        <div class="select-songs column-label">Bài Hát</div>
                    </div>

                    <div ng-repeat="x in rows" style="padding: 5px 0 5px 0;">
                        <div class="label">Bài Hát {{x + 1}}:</div>
                        <div class="select-category">
                            <select ng-model="schedule.songs[x].category" ng-change="selectFolder(x)" class="select-category select" required>
                                <option></option>
                                <option ng-repeat="category in categories" ng-value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="select-folder">
                            <select ng-model="schedule.songs[x].folder" ng-change="selectSongs(x)" class="select-folder select" required>
                                <option></option>
                                <option ng-repeat="song in songs" ng-value="song.id">{{song.name}}</option>
                            </select>
                        </div>
                        <div class="select-songs">
                            <select ng-model="schedule.songs[x].song" class="select-songs select" required>
                                <option></option>
                                <option ng-repeat="list in lists[x].list" ng-value="list.id">{{list.name}}</option>
                            </select>
                        </div>
                        <div class="icon">
                            <a href="" ng-click="previewSong(x)" class="preview-button" title="Xem Bài Hát"></a>
                        </div>
                    </div>

                    <div style="padding: 10px 0 10px 0;">
                        <div class="add-row">
                            <a href="" ng-click="addSong(x)">+1</a> /
                            <a href="" ng-click="removeSong(x)">-1</a>
                        </div>
                        <div class="add-button">
                            <input type="submit" value="Lưu Lại" title="Lưu Lại" class="submit round-border">
                        </div>
                    </div>
                </form>
            </div>

            <div class="mainlist">
                <div ng-repeat="schedule in schedules" class="schedule">
                    <div class="date">
                        {{schedule.date}}
                    </div>

                    <div class="liturgy">
                        {{schedule.liturgy}}&nbsp;
                        <a href="" ng-click="remove($index)" title="Xoá Lịch" class="delete-button"></a>
                    </div>

                    <div ng-repeat="song in schedule.songs">
                        <div class="category">{{song.category}}</div>
                        <div class="song">
                            <a href="{{song.url}}" target="_blank" title="{{song.name}}">{{song.name}}</a>
                            <a href="{{song.audio}}" target="_blank" class="audio" title="Nghe Bài Hát" ng-if="song.audio"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>