.main {
    font-family: sans-serif;
    /*background-color: lightgrey;*/
    background: url('./resources/images/bg-church.jpg');
}

.header {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 160px;
    /*background-color: lightslategrey;*/
    background-image: url('./resources/images/header-bkgd.jpg');
}

.menu {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 160px;
    width: 100%;
    height: 36px;
    background-color: maroon;
}

.menu-text {
    color: white;
    line-height: 36px;
    margin-left: 20px;
    text-decoration: none;
}

.content {
    height: calc(100vh - 10px);
    margin-top: -6px;
}

.messages {
    position: fixed;
    right: 10%;
    top: 206px;
    width: calc(80% - 590px);
    height: calc(100vh - 216px);
    background-color: white;
}

.schedules {
    position: absolute;
    left: 10%;
    top: 206px;
    width: 580px;
    height: calc(100vh - 216px);
    background-color: white;
}

.logo {
    background: url('./resources/images/logo-church.png') no-repeat 48px/120px;
    height: 120px;
    padding: 22px;
}

.title {
    margin: 0 auto 0 auto;
    font-size: 24pt;
    text-align: center;
    font-family: architects-daughter;
    font-weight: bold;
    color: white;
}

.message-list {
    height: calc(100vh - 280px);
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.message-form {
    text-align: center;
}

.message-form a.button {
    display: block;
    height: 18px;
    width: 120px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    text-decoration: none;
    color: initial;
    padding-top: 4px;
    margin: 14px auto;
    font-family: sans-serif;
    font-size: small;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.message-form a.button:active {
    border-color: #5f3f3f;
}

iframe {
    border-width: 0;
    width: 100%;
    height: 100%;
}
