<!DOCTYPE html>
<html>

<head>
    <title>Ca Đoàn Thánh Giuse - Scarborough</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta name="google-signin-client_id"
          content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">

    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/jquery-ui.min.js"></script>
    <script src="../../resources/js/jquery-ui-datepicker-vi.js"></script>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/base64.min.js"></script>
    <script src="../../resources/js/google-api.js"></script>

    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.min.js"></script>

    <script src="../../resources/js/stjoscarboro-app.js"></script>
    <script src="../../resources/js/http-service.js"></script>
    <script src="../../resources/js/email-service.js"></script>

    <link href="../../resources/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../schedule/schedule.css" rel="stylesheet">

    <link href="./scheduler.css" rel="stylesheet">
    <script src="./scheduler.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderAdminButton" async defer></script>
</head>

<body ng-app="stjoscarboro" ng-controller="SchedulerCtrl" data-ng-init="init()" class="scheduler">

<div id="main" class="main">
    <a name="top"></a>

    <div ng-if="!accessToken">
        <div id="gapi-signin"></div>
    </div>

    <div ng-if="accessToken">
        <div class="content">
            <form name="entryForm" ng-submit="create()">
                <div>
                    <div class="label">Ngày:</div>
                    <div class="calendar">
                        <input type="text" id="datepicker" ng-model="schedule.date" class="text round-border"
                               autocomplete="off" required>
                    </div>
                    <div class="driveurl">
                        <a href="{{driveURL}}" target="_blank">Danh Sách Bài Hát</a>
                    </div>
                </div>

                <div style="padding-top: 10px;">
                    <div class="label">&nbsp;</div>
                    <div class="calendar">
                        <select ng-model="schedule.liturgy" class="select">
                            <option></option>
                            <option ng-repeat="liturgy in liturgies" ng-value="liturgy">{{liturgy}}</option>
                        </select>
                    </div>
                    <div class="driveurl">&nbsp;</div>
                </div>

                <div>
                    <div class="label">&nbsp;</div>
                    <div class="select-category column-label">Thể Loại</div>
                    <div class="select-folder column-label">Tập Nhạc</div>
                    <div class="select-songs column-label">Bài Hát</div>
                    <div class="select-singer column-label">Solo</div>
                </div>

                <div ng-repeat="x in rows" style="padding: 5px 0 5px 0;">
                    <div class="label">Bài Hát {{x + 1}}:</div>
                    <div class="select-category">
                        <select ng-model="schedule.songs[x].categoryId" ng-change="selectFolder(x)"
                                class="select-category select" required>
                            <option></option>
                            <option ng-repeat="category in categories" ng-value="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="select-folder">
                        <select ng-model="schedule.songs[x].folder" ng-change="selectSongs(x)"
                                class="select-folder select" required>
                            <option></option>
                            <option ng-repeat="song in songs" ng-value="song.id">{{song.name}}</option>
                        </select>
                    </div>
                    <div class="select-songs">
                        <select ng-model="schedule.songs[x].song" class="select-songs select" required>
                            <option></option>
                            <option ng-repeat="list in lists[x].list" ng-value="list.id">{{list.name}}</option>
                        </select>
                    </div>
                    <div class="select-singer">
                        <select ng-model="schedule.songs[x].singer" class="select-singer select">
                            <option></option>
                            <option ng-repeat="singer in singers" ng-value="singer">{{singer}}</option>
                        </select>
                    </div>
                    <div class="icon">
                        <a href="" ng-click="previewSong(x)" class="preview" title="Xem Bài Hát"></a>
                    </div>
                </div>

                <div style="padding: 10px 0 10px 0;">
                    <div class="add-row">
                        <a href="" ng-click="addSong(x)">+1</a> /
                        <a href="" ng-click="removeSong(x)">-1</a>
                    </div>
                    <div class="add-button">
                        <input type="submit" value="Lưu Lại" title="Lưu Lại" class="submit round-border">
                    </div>
                </div>
            </form>
        </div>

        <div class="schedule">
            <ng-include src="'../schedule/schedule.inc'"></ng-include>
        </div>
    </div>
</div>

</body>

</html>