.scheduler {
    font-family: sans-serif;
    font-size: 11pt;
}

.scheduler .main {
    width: 832px;
    padding: 8px;
}

.scheduler .content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.scheduler .label {
    display: inline-flex;
    width: 100px;
}

.scheduler .text {
    font-size: inherit;
    padding-left: 7px;
    margin-left: 1px;
    width: 100%;
}

.scheduler .select {
    font-size: inherit;
    background-color: white;
}

.scheduler .submit {
    font-size: inherit;
    background-color: white;
    width: 100px;
    height: 26px;
}

.scheduler .round-border {
    border: 1px solid #aaa;
    border-radius: 4px;
}

.scheduler .calendar {
    display: inline-flex;
    width: 220px;
}

.scheduler .driveurl {
    display: inline-flex;
    float: right;
}

.scheduler .column-label {
    padding: 20px 0 0 0;
}

.scheduler .select-category {
    display: inline-flex;
    width: 100px;
}

.scheduler .select-folder {
    display: inline-flex;
    width: 140px;
}

.scheduler .select-songs {
    display: inline-flex;
    width: 325px;
}

.scheduler .select-singer {
    display: inline-flex;
    width: 130px;
}

.scheduler .add-row {
    display: inline-block;
    margin: 5px 0 0 0;
}

.scheduler .add-button {
    display: inline-block;
    float: right;
}

.scheduler .preview {
    width: 14px;
    height: 12px;
    background: url('../../resources/images/preview.png') no-repeat 0/15px;
    background-color: white;
}

.scheduler .icon {
    display: inline-flex;
}

.scheduler iframe {
    border-width: 0;
    width: 100%;
    height: 100%;
}
