<!DOCTYPE html>
<html>

<head>
	<title>Lịch Đọc Thánh Thư</title>
	<meta name="robots" content="noindex, nofollow">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google-signin-client_id" content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">
	
	<link rel="stylesheet" href="main.css">
	
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/jquery-ui-datepicker-vi.js"></script>
	<script src="../js/jquery.printthis.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="../js/base64.min.js"></script>
	
	<script src="main.js"></script>
	<script src="../js/http-service.js"></script>
</head>

<body ng-app="mainApp" ng-controller="MainCtrl" data-ng-init="init()" oncontextmenu="return false;">

<div class="main">
	
	<div class="header">
		<p>Cộng Đoàn Thánh Giuse - Scarborough</p>
		Lịch Đọc Thánh Thư
	</div>
	
	<div class="pbutton">
		<a id="print" href="" ng-click="print()" class="printbtn"></a>
	</div>
	
	<div class="report">
		<div class="rheader">
			<table>
				<tr>
					<td class="rdate">Ngày</td>
					<td class="rfirst">Bài Đọc 1</td>
					<td class="rsecond">Bài Đọc 2</td>
					<td class="rthird">Lời Nguyện GD</td>
					<td class="rscroll"></td>
				</tr>
			</table>
		</div>
		
		<div class="rbody">
			<table>
				<tr ng-repeat="schedule in schedules track by $index" ng-class-odd="'rodd'" ng-class-even="'reven'">
					<td class="rdate">
						{{schedule.date}}
					</td>
					
					<td class="rfirst">
						<b>{{schedule.first.name}}</b><br/>
						<a href="{{schedule.first.reading}}" target="_new">Bài Đọc 1</a>
					</td>
					
					<td class="rsecond">
						<b>{{schedule.second.name}}</b><br/>
						<a href="{{schedule.second.reading}}" target="_new">Bài Đọc 2</a>
					</td>
					
					<td class="rthird">
						<b>{{schedule.offertory.name}}</b>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div style="display: none;">
		<div class="pbody">
			<div class="pheader">
				<p>Cộng Đoàn Thánh Giuse - Scarborough</p>
				<p>Lịch Đọc Thánh Thư</p>
			</div>
			<table>
				<tr>
					<td class="pdate">Ngày</td>
					<td class="pfirst">Bài Đọc 1</td>
					<td class="psecond">Bài Đọc 2</td>
					<td class="pthird">Lời Nguyện GD</td>
				</tr>
				
				<tr ng-repeat="schedule in schedules track by $index">
					<td class="pdate">{{schedule.date}}</td>
					<td class="pfirst">{{schedule.first.name}}</td>
					<td class="psecond">{{schedule.second.name}}</td>
					<td class="pthird">{{schedule.offertory.name}}</td>
				</tr>
			</table>
		</div>
	</div>

</div>
  
</body>
</html>