.main {
	width: 100%;
	margin: 20px auto 20px auto;
	font-face: 'Tahoma';
}

.header {
	font-size: 20pt;
	text-align: center;
}

.entry {
	width: 300px;
	height: 140px;
	padding: 20px;
	background-color: azure;
	font-size: 11pt;
	border: solid green 1px;
	border-radius: 10px;
	margin: auto;
}

.report {
	width: 600px;
	height: 360px;
	padding: 20px;
	background-color: azure;
	font-size: 11pt;
	border: solid green 1px;
	overflow: hidden;
	border-radius: 10px;
	margin: auto;
}

.separator {
	height: 20px;
}

.field {
	height: 40px;
}

.label {
	width: 100px;
	display: inline-block;
}

.select {
	width: 185px;
	font-size: 12pt;
}

.text {
	width: 185px;
	font-size: 11pt;
}

.rheader {
	width: 600px;
	padding: 1px;
	background-color: #D8D8D8;
}

.rbody {
	width: 600px;
	height: 320px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
}

.rname {
	width: 180px;
	height: 30px;
}

.remail {
	width: 280px;
}

.rphone {
	width: 80px;
}

.rscroll {
	width: 10px;
}

.rdelete {
	width: 30px;
	text-align: center;
}

.rselect {
	outline: thin solid red;
}

.odd {
	background-color: #F8F8F8;
}

.even {
	background-color: #F0F0F0;
}

.badd {
	width: 100px;
	font-size: 12pt;
	float: right;
}

.error {
	color: red;
	display: none;
}