<form class="form-horizontal" role="form" ng-submit="submit()">
    <div class="modal-header">
        <a href="" ng-click="cancel()" title="Đóng" class="close" style="margin-top: 4px;"><i class="glyphicon glyphicon-remove"></i></a>
        <h3 class="modal-title">Lịch Hát Thánh Ca</h3>
    </div>

    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-2 control-label">Ngày:</label>

            <div class="col-md-10">
                <div class="row row-no-padding">
                    <div class="col-md-5">
                        <input type="text" id="datepicker" ng-model="schedule.date" class="form-control" autocomplete="off" required>
                    </div>

                    <div class="col-md-2" style="width: 98px;">
                        <input type="text" ng-model="schedule.liturgy.year.name" class="form-control" style="background-color: unset;" placeholder="Năm">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 control-label">Lịch Phụng Vụ:</label>

            <div class="col-md-10">
                <div class="row row-no-padding">
                    <div class="col-md-5">
                        <input ng-model="schedule.liturgy.name" class="form-control" required>
                    </div>

                    <div class="col-md-6">
                        <input type="text" ng-model="schedule.liturgy.intention.name" class="form-control" placeholder="Ý Chỉ Trong Thánh Lễ">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" style="padding-top: 10px; margin-bottom: 4px;">
            <label class="col-md-2 control-label"></label>

            <div class="col-md-10">
                <div class="row row-no-padding">
                    <label class="col-md-3">Tập Nhạc</label>
                    <label class="col-md-6">Bài Hát</label>
                    <label class="col-md-2">Solo</label>
                </div>
            </div>
        </div>

        <div ng-repeat="x in [] | range: rows" class="form-group row">
            <label class="col-md-2 control-label">Bài Hát {{x + 1}}:</label>

            <div class="col-md-10">
                <div class="row row-no-padding">
                    <div class="col-md-3">
                        <ui-select ng-model="schedule.songs[x].category" search-enabled="false" ng-change="selectSongs(x)" tagging="tagHandler">
                            <ui-select-match>
                                {{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                                {{category}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-6">
                        <input ng-model="schedule.songs[x].id" class="hidden-text" required />
                        <ui-select ng-model="schedule.songs[x].id">
                            <ui-select-match>
                                {{$select.selected.title}} (<em>{{$select.selected.author}}</em>)
                            </ui-select-match>
                            <ui-select-choices repeat="song.id as song in lists[x].songs | filter: $select.search">
                                {{song.title}} (<em>{{song.author}}</em>)
                                <div ng-if="song.others" class="small " title="{{song.others}}"><em>{{song.others}}</em></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-2">
                        <ui-select ng-model="schedule.songs[x].singer" search-enabled="false" tagging="tagHandler">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="singer.id as singer in singers">
                                {{singer.name || "&nbsp;"}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-1" style="margin-top: 8px;">
                        <a href="" ng-click="previewSong(x)" title="Xem Bài Hát"><i class="glyphicon glyphicon-open-file"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <a href="" ng-click="addSong()" title="Thêm Bài Hát"><i class="glyphicon glyphicon-plus"></i></a>
            <i style="font-weight: 600; font-size: 12pt;">/</i>
            <a href="" ng-click="removeSong()" title="Bớt Bài Hát"><i class="glyphicon glyphicon-minus"></i></a>
        </div>

        <button class="btn btn-default" type="button" ng-click="cancel()">Bỏ Qua</button>
        <button class="btn btn-primary" type="submit">Lưu Lại</button>
    </div>
</form>