.mainlist {
	width: 640px;
	margin: 20px auto 20px auto;
	font-family: initial;
	background: url('../resources/images/bg-church.jpg');
}

.mainlist .main {
	width: 640px;
	margin: 20px auto 20px auto;
}

.mainlist .schedule {
	padding-bottom: 20px;
	line-height: 22px;
}

.mainlist .date {
	display: inline-flex;
	width: 170px;
}

.mainlist .liturgy {
	display: inline-flex;
	font-weight: bold;
	font-style: italic;
	font-size: large;
	margin-bottom: 4px;
}

.mainlist .category {
	display: inline-flex;
	margin-left: 190px;
	width: 80px;
}

.mainlist .song {
	display: inline-flex;
}
