.mainlist {
    font-family: helvetica-neue;
    background: url('../../resources/images/bg-church.jpg');
}

.mainlist .main {
    width: 680px;
    margin: 20px auto 20px auto;
}

.mainlist .schedule {
    padding-bottom: 10px;
    line-height: 24px;
}

.mainlist .date {
    display: inline-flex;
    width: 180px;
    margin: 4px 0 4px 0;
}

.mainlist .liturgy {
    display: inline;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.mainlist .category {
    display: inline-flex;
    margin-left: 210px;
    width: 80px;
    vertical-align: top;
}

.mainlist .song {
    display: inline-block;
    width: 300px;
}

.mainlist .audio {
    position: absolute;
    width: 28px;
    height: 24px;
    background: url(../../resources/images/audio.png) no-repeat 15px/12px;
}

.mainlist .loader {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('../../resources/images/loading.gif') no-repeat 0/24px;
}