.mainlist {
    width: 640px;
    margin: 20px auto 20px auto;
    font-family: carlito;
    background: url('../../resources/images/bg-church.jpg');
}

.mainlist .main {
    width: 640px;
    margin: 20px auto 20px auto;
}

.mainlist .schedule {
    padding-bottom: 10px;
    line-height: 20px;
}

.mainlist .date {
    display: inline-flex;
    width: 170px;
}

.mainlist .liturgy {
    display: inline-flex;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    margin-bottom: 8px;
}

.mainlist .category {
    display: inline-flex;
    margin-left: 190px;
    width: 80px;
    vertical-align: top;
}

.mainlist .song {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainlist .audio {
    display: inline-block;
    width: 28px;
    height: 12px;
    background: url('../../resources/images/audio.png') no-repeat 15px/12px;
}

.mainlist .loader {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('../../resources/images/loading.gif') no-repeat 0/24px;
}