<!DOCTYPE html>
<html>

<head>
    <title>Lịch Hát Thánh Ca</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="./schedule.css">

    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/jquery-ui.min.js"></script>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/base64.min.js"></script>

    <script src="./schedule.js"></script>
    <script src="../../resources/js/http-service.js"></script>
</head>

<body ng-app="mainApp" ng-controller="MainCtrl" data-ng-init="init()" class="mainlist">

    <div id="main" class="main">
        <div ng-repeat="schedule in schedules" class="schedule">
            <div class="date">
                {{schedule.date}}
            </div>

            <div class="liturgy">
                {{schedule.liturgy}}
            </div>

            <div ng-repeat="song in schedule.songs">
                <div class="category">{{song.category}}</div>
                <div class="song">
                    <a href="{{song.url}}" target="_blank" title="{{song.name}}">{{song.name}}</a>
                    <a href="{{song.audio}}" target="_blank" class="audio" title="Nghe Bài Hát" ng-if="song.audio"></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>