<!DOCTYPE html>
<html>

<head>
	<title>Lịch Hát Thánh Ca</title>
	<meta name="robots" content="noindex, nofollow">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google-signin-client_id" content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">
	
	<link rel="stylesheet" href="./main.css">
	
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/jquery-ui-datepicker-vi.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="../js/base64.min.js"></script>
	<script src="../js/google-api.js"></script>
	
	<script src="./main.js"></script>
	<script src="../js/http-service.js"></script>
</head>

<body ng-app="mainApp" ng-controller="MainCtrl" data-ng-init="init()"> <!-- oncontextmenu="return false;"> --> 

<div id="main" class="main">
	
	<div class="header">
		<p>Cộng Đoàn Thánh Giuse - Scarborough</p>
		Lịch Hát Thánh Ca
	</div>
	
	<div class="report">
		<div class="rheader">
			<table>
				<tr>
					<td class="date">Ngày</td>
					<td class="hcategory">Thể Loại</td>
					<td class="song">Bài Hát</td>
				</tr>
			</table>
		</div>
		
		<div class="rbody">
			<table>
				<tr ng-repeat="schedule in schedules" ng-class-odd="'odd'" ng-class-even="'even'">
					<td class="date">
						{{schedule.date}}
					</td>

					<td colspan="2">
						<table>
							<tr ng-repeat="song in schedule.songs">
								<td class="category">{{song.category}}</td>
								<td class="song"><a href="{{song.url}}" target="_blank">{{song.song}}</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
</div>

</body>
</html>