.main {
	width: 740px;
	/* height: calc(100vh - 50px); */
	margin: 20px auto 20px auto;
	font-family: Arial, Helvetica, serif;
	font-size: 12pt;
}

.schedule {
	padding-bottom: 20px;
	line-height: 22px;
}

.date {
	display: inline-flex;
	width: 190px;
}

.liturgy {
	display: inline-flex;
	font-weight: bold;
	font-style: italic;
	font-size: large;
	margin-bottom: 4px;
}

.category {
	display: inline-flex;
	margin-left: 194px;
	width: 100px;
}

.song {
	display: inline-flex;
}