.main {
	width: 640px;
	margin: 20px auto 20px auto;
}

.schedule {
	padding-bottom: 20px;
	line-height: 22px;
}

.date {
	display: inline-flex;
	width: 170px;
}

.liturgy {
	display: inline-flex;
	font-weight: bold;
	font-style: italic;
	font-size: large;
	margin-bottom: 4px;
}

.category {
	display: inline-flex;
	margin-left: 190px;
	width: 80px;
}

.song {
	display: inline-flex;
}

.delete-button {
	float: right;
	width: 30px;
	height: 20px;
	background: url('../images/erase.png') no-repeat 15px/15px;
	margin-right: 4px;
}