<!DOCTYPE html>
<html>

<head>
	<title>Lịch Đọc Thánh Thư</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google-signin-client_id" content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">
	
	<link rel="stylesheet" href="schedule.css"> 
	
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/angular.min.js"></script>
	<script src="../../js/googleapi.js"></script>
	<script src="schedule.js"></script>
	
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>

<body ng-app="scheduleApp" ng-controller="ScheduleCtrl" data-ng-init="init()">

<div class="main">
	
	<div ng-if="!schedules">
		<div id="gapi-signin"></div>
	</div>
	
	<div ng-if="schedules">
		<div class="header">
			Cộng Đoàn Thánh Giuse - Scarborough
		</div>
		
		<div class="separator">
		</div>
		
		<div class="header">
			Lịch Đọc Thánh Thư
		</div>
		
		<div class="separator">
		</div>
		
<!-- 		<div class="entry">
			<form name="entryForm" ng-submit="create()">
				<div class="field">
					<span class="label">Name:</span>
					<input type="text" ng-model="lector.name" class="text" required>
				</div>
				
				<div class="field">
					<span class="label">Email:</span>
					<input type="text" ng-model="lector.email" class="text" required>
				</div>
				
				<div class="field">
					<span class="label">Phone:</span>
					<input type="text" ng-model="lector.phone" class="text">
				</div>
				
				<div class="field">
					<span class="error"></span>
					<input type="submit" value="Add" title="Add" class="badd">
				</div>
			</form>
		</div>
		
		<div class="separator">
		</div>
 -->		
		<div class="report">
			<div class="rheader">
				<table>
					<tr>
						<td class="rdate">Ngày</td>
						<td class="rfirst">Bài Đọc 1</td>
						<td class="rsecond">Bài Đọc 2</td>
						<td class="rthird">Lời Nguyện GD</td>
						<td class="rscroll"></td>
					</tr>
				</table>
			</div>
			
			<div class="rbody">
				<table>
					<tr ng-repeat="schedule in schedules track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
						<td class="rdate">
							<b>{{schedule.date}}</b>
						</td>
						
						<td class="rfirst">
							<b>{{schedule.first.name}}</b><br/>
							<a href="{{schedule.first.reading}}" target="_new">Bài Đọc 1</a>
						</td>
						
						<td class="rsecond">
							<b>{{schedule.second.name}}</b><br/>
							<a href="{{schedule.second.reading}}" target="_new">Bài Đọc 2</a>
						</td>
						
						<td class="rthird">
							<b>{{schedule.offertory.name}}</b>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>

</body>
</html>