.main {
	margin: 20px auto 20px auto;
	font-face: 'Tahoma';
}

.header {
	font-size: 20pt;
	text-align: center;
}

.entry {
	width: 868px;
	height: 100px;
	padding: 20px;
	background-color: azure;
	font-size: 11pt;
	border: solid green 1px;
	border-radius: 10px;
	margin: auto;
}

.report {
	width: 868px;
	height: 400px;
	padding: 20px;
	background-color: azure;
	font-size: 12pt;
	border: solid green 1px;
	overflow: hidden;
	border-radius: 10px;
	margin: auto;
}

.separator {
	height: 20px;
}

.label {
	display: inline-block;
	line-height: 22px;
}

.label2 {
	display: inline-block;
	line-height: 22px;
	margin-top: 8px;
}

.text {
	width: 100%;
	font-size: 11pt;
}

.rheader {
	width: 100%;
	height: 36px;
	background-color: #D8D8D8;
}

.rbody {
	width: 100%;
	height: 370px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
}

.rdate {
	width: 200px;
	height: 56px;
	vertical-align: top;
	line-height: 28px;
}

.rfirst {
	width: 200px;
	vertical-align: top;
	line-height: 28px;
}

.rsecond {
	width: 200px;
	vertical-align: top;
	line-height: 28px;
}

.rthird {
	width: 200px;
	vertical-align: top;
	line-height: 28px;
}

.rscroll {
	width: 10px;
}

.rdelete {
	width: 30px;
	height: 30px;
	text-align: center;
	background: url('../../images/erase.png') no-repeat 12px/12px;
}

.bdelete {
	display: block;
	width: 100%;
	height: 100%;
}

.rselect {
	outline: thin solid red;
}

.rodd {
	background-color: #F8F8F8;
}

.reven {
	background-color: #F0F0F0;
}

.econtainer {
	display: flex;
}

.edate {
	width: 180px;
}

.efirst {
	width: 190px;
	margin-left: 15px;
}

.esecond {
	width: 190px;
	margin-left: 15px;
}

.ethird {
	width: 190px;
	margin-left: 15px;
}

.eaddbtn {
	width: 60px;
	margin: 23px 0 0 15px;
}

.button {
	width: 100%;
	font-size: 12pt;
}

.error {
	color: red;
	display: none;
}