.main {
	width: 974px;
	margin: 20px auto 20px auto;
	font-family: Arial, Helvetica, serif;
	font-size: 11pt;
}

.header {
	font-size: 18pt;
	text-align: center;
	padding: 5px 0 20px 0;
}

.entry {
	width: 100%;
	height: 100px;
	padding: 20px;
	margin-left: -20px;
	background-color: azure;
	border: solid green 1px;
	border-radius: 10px;
}

.report {
	width: 100%;
	height: 400px;
	padding: 20px;
	margin-left: -20px;
	background-color: azure;
	border: solid green 1px;
	overflow: hidden;
	border-radius: 10px;
}

.linknext {
	padding-top: 10px;
	float: left;
}

.linkdrive {
	padding-top: 10px;
	float: right;
}

.separator {
	height: 20px;
}

.label {
	display: inline-block;
	line-height: 22px;
}

.label2 {
	display: inline-block;
	line-height: 22px;
	margin-top: 8px;
}

.text {
	width: 100%;
	font-size: 11pt;
}

.select {
	width: 100%;
	font-size: 11pt;
}

.rheader {
	width: 100%;
	height: 40px;
	background-color: #D8D8D8;
	vertical-align: middle;
}

.rbody {
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
}

.rdate {
	width: 200px;
	vertical-align: top;
	line-height: 24px;
	padding: 8px;
}

.rfirst {
	width: 220px;
	vertical-align: top;
	line-height: 24px;
	padding: 8px;
}

.rsecond {
	width: 220px;
	vertical-align: top;
	line-height: 24px;
	padding: 8px;
}

.rthird {
	width: 200px;
	vertical-align: top;
	line-height: 24px;
	padding: 8px;
}

.rscroll {
	width: 10px;
}

.rdelete {
	width: 40px;
	height: 40px;
	background: url('../../images/trash.png') no-repeat 15px/15px;
}

.bdelete {
	display: block;
	width: 100%;
	height: 100%;
}

.rmail {
	float: right;
	width: 40px;
	height: 30px;
	background: url('../../images/mail-send.png') no-repeat 18px/18px;
}

.bmail {
	display: block;
	width: 100%;
	height: 100%;
}

a.bmail.disabled {
	pointer-events: none;
	cursor: default;
	background: url('../../images/sent-mail.png') no-repeat 18px/18px;
}

.rselect {
	outline: thin solid red;
}

.rodd {
	background-color: #F8F8F8;
}

.reven {
	background-color: #F0F0F0;
}

.econtainer {
	display: flex;
}

.edate {
	width: 218px;
}

.efirst {
	width: 218px;
	margin-left: 15px;
}

.esecond {
	width: 218px;
	margin-left: 15px;
}

.ethird {
	width: 218px;
	margin-left: 15px;
}

.eaddbtn {
	width: 66px;
	margin: 23px 0 0 15px;
}

.button {
	width: 100%;
	font-size: 12pt;
}

.error {
	color: red;
	width: 300px;
	margin-top: 16px;
	line-height: 20px;
}

.hidden {
	display: none;
}