.library {
    font-family: sans-serif;
    font-size: 11pt;
}

.library .main {
    height: auto;
    overflow: auto;
}

.library .loader {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('../../resources/images/loading.gif') no-repeat 0/24px;
}

table tr th{
    background:#337ab7;
    color:white;
    text-align:left;
    vertical-align:center;
}

input[type=search] {
    width: 300px !important;
}