.library {
    font-family: sans-serif;
    font-size: 11pt;
}

.library .main {
    height: auto;
    overflow: auto;
}

.library .signin {
    padding: 20px;
}

.library .loader {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('../../resources/images/loading.gif') no-repeat 0/24px;
}

.library .audio {
    margin-left: 10px;
    color: green;
    font-weight: bolder;
    font-size: 10pt;
}

.library .info {
    margin-left: 10px;
    color: #cccccc;
    font-size: 10pt;
}

.library .hidden {
    display: none;
}

.library .content .song {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.library .content .label {
    display: inline-block;
    width: 120px;
    color: #000000;
    text-align: left;
    line-height: 1.6;
    font-size: inherit;
    font-weight: normal;
    padding: 0;
}

.library .content .label::after {
    content: ': '
}

.library .content .pagination {
    margin: 5px 10px 10px;
}