.tooltip-toggle {
    cursor: pointer;
    position: relative;
}

.tooltip-toggle::before {
    position: absolute;
    color: black;
    background-color: #e9ebee;
    border-radius: 4px;
    content: attr(data-title);
    padding: 5px 20px 5px 10px;
    display: table;
    width: -o-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    top: 10px;
    left: 30px;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
}

.tooltip-toggle:focus::before, .tooltip-toggle:hover::before {
    opacity: 1;
    z-index: 1;
    transition: all 0.75s ease;
}