.quick-tip {
    cursor: pointer;
    position: relative;
}

.quick-tip:focus::before, .quick-tip:hover::before {
    position: absolute;
    display: table;
    content: attr(data-qtip);
    width: -o-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    white-space: nowrap;
    color: black;
    background-color: #e9ebee;
    border-radius: 4px;
    padding: 5px 20px 5px 10px;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    top: 10px;
    left: 30px;
    z-index: 1;
    box-sizing: border-box;
    text-align: justify;
    transition: all 0.75s ease;
}
