.admin {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: #b0d1f2;
}

.admin .signin {
    margin: 230px 0 0 40px;
}

.admin .admin-menu {
    float: right;
    margin-right: 20px;
}
