.mainadmin {
    font-family: sans-serif;
    background: url('../resources/images/bg-church.jpg');
}

.mainadmin .main {
    width: calc(100w);
}

.mainadmin .signin {
    margin: 40px;
}

.mainadmin .admin-menu {
    float: right;
    margin-right: 20px;
}

.mainadmin .admin-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: calc(100vh - 4px);
}
