.admin {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: #b0d1f2;
}

.admin .signin {
    margin: 210px 0 0 40px;
}

.admin .admin-menu {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.admin .dropdown {
    position: relative;
    display: inline-block;
}

.admin .dropdown-content {
    display: none;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid darkgrey;
    border-radius: 4px;
    margin: -4px 0 0 0;
    padding: 4px 0 4px 0;
    z-index: 1;
}

.admin .dropdown:hover .dropdown-content {
    display: block;
}

.admin .dropdown-item {
    padding-right: 20px;
}

.admin .dropdown-item:hover {
    background-color: #57b1f5;
}
