.mainadmin {
	font-family: initial;
	background: url('../resources/images/bg-church.jpg');
	margin: 0;
}

.mainadmin .main {
	width: calc(100w);
}

.mainadmin .signin {
	margin: 40px;
}

iframe {
    border-width: 0px;
    width: 100%;
    height: calc(100vh - 200px);
}
