.discussion {
    font-family: initial;
    background: url('../../resources/images/bg-church.jpg');
}

.discussion .main {
    width: 640px;
    margin: 20px auto 20px auto;
}

.discussion .label {
    display: inline-block;
    padding: 0 0 5px 0;
}

.discussion .textarea {
    width: calc(100% - 7px);
    height: 80px;
    max-width: calc(100% - 7px);
    font-family: inheriti;
    font-size: inherit;
}

.discussion .add-button {
    display: inline-flex;
    float: right;
}

.discussion .submit {
    width: 100px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
}