.messages {
    font-family: sans-serif;
    font-size: 11pt;
}

.messages .content {
    overflow: hidden;
}

.messages .add-button {
    float: right;
    text-align: center;
}

.messages .message {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e9ebee;
    padding: 10px 10px 0 10px;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.messages .date {
    display: inline-flex;
    font-style: italic;
    font-size: 10pt;
    font-weight: bold;
}

.messages .sender {
    display: inline-flex;
    float: right;
    color: #deb887;
    font-style: italic;
    font-size: 10pt;
}

.messages .text {
    margin: 5px 0 10px 15px;
    padding: 0;
}

.messages .signin {
    margin: 20px;
}

.messages .signin_footnote {
    font-style: italic;
}

.messages a.button {
    display: block;
    height: 18px;
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: initial;
    padding-top: 4px;
    margin: 13px auto;
    font-family: sans-serif;
    font-size: 11pt;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.messages a.button:active {
    border-color: #5f3f3f;
}

.messages .ql-container {
    height: calc(100vh - 103px);
    overflow: auto;
    padding-bottom: 5px;
}

.messages .ql-editor > ul > li, .ql-editor > ol >li {
    padding-left: 0.5em !important;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.messages .ql-editor a {
    text-decoration: none;
}

.messages .ql-editor a:hover {
    text-decoration: underline;
}

[ng-quill-editor] { display: block; }