.newsform {
    font-family: carlitoregular;
    background: url('../../resources/images/bg-church.jpg');
}

.newsform .main {
    margin: 20px auto 20px auto;
}

.newsform .entryform {
    border-top: 1px solid lightgrey;
    margin-top: 20px;
}

.newsform .textarea {
    width: calc(100% - 7px);
    height: 80px;
    max-width: calc(100% - 7px);
    font-family: inheriti;
    font-size: inherit;
}

.newsform .add-button {
    display: inline-flex;
    float: right;
}

.newsform .submit {
    width: 100px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
}

.newsform .date {
    display: inline-flex;
    font-weight: bold;
    font-style: italic;
}

.newsform .text {
    margin: 5px 0 20px 20px;
}