<!DOCTYPE html>
<html>

<head>
    <title>Lịch Hát Thánh Ca</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-signin-client_id" content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">

    <link rel="stylesheet" href="./newsform.css">

    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/jquery-ui.min.js"></script>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/base64.min.js"></script>
    <script src="../../resources/js/google-api.js"></script>

    <script src="./newsform.js"></script>
    <script src="../../resources/js/http-service.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>

<body ng-app="newsformApp" ng-controller="NewsformCtrl" data-ng-init="init()" class="newsform">

    <div id="main" class="main">

        <div ng-if="!accessToken">
            <div id="gapi-signin"></div>
        </div>

        <div ng-if="accessToken">
            <div class="content">
                <div ng-repeat="notice in notices" class="notice">
                    <div class="date">
                        {{notice.date | date:'medium'}}
                    </div>

                    <div class="text">
                        {{notice.text}}
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>