.newsform {
    font-family: sans-serif;
    background-color: white;
}

.newsform .main {
    height: auto;
    overflow: auto;
}

.newsform .content {
    overflow: hidden;
}

.newsform .entryform {
}

.newsform .textarea {
    margin-bottom: 10px;
    border-radius: 4px;
    height: calc(100vh - 112px);
    overflow: auto;
}

.newsform .add-button {
    display: inline-flex;
    float: right;
}

.newsform .submit {
    width: 100px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    margin-top: 3px;
}

.newsform .date {
    display: inline-flex;
    font-weight: bold;
    font-style: italic;
}

.newsform .text {
    margin: 5px 0 20px 20px;
}

.newsform .signin {
    margin: 20px;
}