<!DOCTYPE html>
<html>

<head>
    <title>Ca Đoàn Thánh Giuse - Scarborough</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-signin-client_id"
          content="732186080790-iokhb7a1vlil8tpm725aqnek5saoamh9.apps.googleusercontent.com">

    <link rel="stylesheet" href="./newsform.css">

    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/jquery-ui.min.js"></script>
    <script src="../../resources/js/jquery-ui-datepicker-vi.js"></script>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-sanitize.min.js"></script>
    <script src="../../resources/js/base64.min.js"></script>
    <script src="../../resources/js/google-api.js"></script>

    <script src="./newsform.js"></script>
    <script src="../../resources/js/http-service.js"></script>

    <link href="../../resources/css/quill.snow.css" rel="stylesheet">
    <script src="../../resources/js/quill.min.js"></script>
    <script src="../../resources/js/ng-quill.min.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderMemberButton" async defer></script>
</head>

<body ng-app="newsformApp" ng-controller="NewsformCtrl" data-ng-init="init()" class="newsform">

<div id="main" class="main">

    <div ng-if="!accessToken">
        <div id="gapi-signin" class="signin"></div>

        <div class="signin_footnote">
            Để tránh cho người ngoài gửi những tin nhắn không liên quan đến Ca Đoàn, xin quý anh chị vui lòng "Sign In"
            bằng Google email của mình để bắt đầu gửi tin nhắn. Dịch vụ này được cung cấp và bảo mật bởi Google.
        </div>
    </div>

    <div ng-if="accessToken">
        <div class="entryform">
            <ng-quill-editor ng-model="notice.text">
                <ng-quill-toolbar>
                    <div>
                        <span class="ql-formats">
                            <select class="ql-font">
                                <option selected></option>
                                <option value="serif"></option>
                                <option value="monospace"></option>
                            </select>
                            <select class="ql-size">
                                <option value="small"></option>
                                <option selected></option>
                                <option value="large"></option>
                                <option value="huge"></option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                    </div>
                </ng-quill-toolbar>
            </ng-quill-editor>

            <div class="add-button">
                <a href="" ng-click="create()" class="button">Gửi</a>
            </div>
        </div>
    </div>

</div>

</body>

</html>